<!-- <main class="chat">
    <div class="container">
        <h1>real time chat</h1>
        <div class="chat-content">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
                        <strong>{{chatMessage.sender}}: </strong>
                        <span>{{chatMessage.content}}</span>
                        <span class="pull-right">{{chatMessage.timestamp | date:'short'}}</span>

                    </li>
                </ul>
            </div>
        </div>
        <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="chat-send row">

                <div class="col-10">
                    <input type="text" class="form-control" name="message" id="input-message" ngModel>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>

</main> -->
<div class="chat-page-container">


<div class="chat-container">

	<ul class="chat">
		<li [ngClass]="chatMessage.sender === user ? 'message left' : 'message right'" 
        *ngFor="let chatMessage of webSocketService.chatMessages?.slice(-10)">
			<img class="logo" [src]="chatMessage.photo" alt="">
            <p>{{chatMessage.sender}}</p>
			<p>{{chatMessage.content}}</p>
		</li>


	</ul>
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">

        <input type="text" class="text_input" placeholder="Message..." name="message" id="input-message" ngModel/>
        <button type="submit">send</button>
    </form>
</div>

</div>