<div class="container mt-5">
    <h3 class="mb-30">Se connecter</h3>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="mt-10" ngNativeValidate>
                <div *ngIf="notisuccess" class="alert alert-warning" role="alert">
                    votre demande n'a pas encore été traitée
                  </div>
                  <div *ngIf="notiferror" class="alert alert-danger" role="alert">
                        login or password incorrect!
                </div>
                <div class="mt-10">

            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Username"
            class="single-input"
            minlength="4"
            maxlength="20"
            required
            >
            </div>
            <div class="mt-10">

            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Password"
            class="single-input"
            minlength="6"
            maxlength="20"
            required
            >
            </div>
            <div class="mt-10">

            <input type="submit"
            value="Login"
            class="form-control rounded-0 button button-contactForm boxed-btn">
            </div>
            <div class="forget-pass-signup">
                <span (click)="redirectToForgetPasword()">Forget pasword ?</span>
                <span (click)="redirectToSignUp()" >Sign up ?</span>
            </div>

        </form>
</div>