<div class="container mt-5">
    <h3 class="mb-30">Reset password</h3>
            <form #loginForm="ngForm" (ngSubmit)="onClickChangePassword(loginForm)" class="mt-10">
                <div class="mt-10">

            <input type="password"
            ngModel
            name="oldPassword"
            id="oldPassword"
            placeholder="old password"
            class="single-input"
            >
            </div>
            <div class="mt-10">
            <input type="password"
            ngModel
            name="newPassword"
            id="newPassword"
            placeholder="new password"
            class="single-input"
            >
            </div>
            <div class="mt-10">
                <input type="password"
                ngModel
                name="confirmPassword"
                id="confirmPassword"
                placeholder="confirm password"
                class="single-input"
                >
                </div>

            <div class="mt-10">

            <input type="submit"
            value="change password"
            class="form-control rounded-0 button button-contactForm boxed-btn">
            </div>

        </form>

</div>