<p>Gestion des utilisateurs</p>

    <table class="table table-stripped ">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>userName</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
                <tr *ngFor="let item of usersList | keyvalue">
                    <td>{{item.key}}</td>
                    <td>{{item.value.userName}}</td>
                    <td>{{item.value.userLastName}}</td>
                    <td>{{item.value.userFirstName}}</td>
                    <td><button class="form-control rounded-0 button button-contactForm boxed-btn" (click)="onClickDelete(item.value.userName)">Supprimer</button></td>

                </tr>
        </tbody>
    </table>
