<p>Gestion des utilisateurs</p>

    <table class="table table-stripped ">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>userName</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
                <tr *ngFor="let item of usersList$ | async; let i = index">
                    <td>{{i}}</td>
                    <td>{{item.userName | titlecase}}</td>
                    <td>{{item.userLastName | titlecase}}</td>
                    <td>{{item.userFirstName | titlecase}}</td>
                    <td>{{item.disabled ? "En Attente": "Membre"  | titlecase}}</td>

                    <td class="">
                        <button *ngIf="item.disabled" class="btn btn-outline-success" (click)="acceptUser(item.userName)">Approuver</button>
                        <button *ngIf="item.disabled" class="btn btn-outline-danger" (click)="onClickDelete(item.userName)">Décliner</button>

                        <button *ngIf="!item.disabled" class="btn btn-outline-danger" (click)="onClickDelete(item.userName)">Supprimer</button>
                    </td>

                </tr>
        </tbody>
    </table>
