<div class="container mt-5">
    <div class="card" style="padding: 20px;">
            <form #loginForm="ngForm" (ngSubmit)="signUp(loginForm)">

            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Enter your username"
            class="form-control mb-3"
            >

            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Enter your password"
            class="form-control mb-3"
            >
                
            <input type="text"
            ngModel
            name="userFirstName"
            id="userFirstName"
            placeholder="Enter your FirstName"
            class="form-control mb-3"
            >

            <input type="text"
            ngModel
            name="userLastName"
            id="userLastName"
            placeholder="Enter your LastName"
            class="form-control mb-3"
            >
            <input type="submit"
            value="Register"
            class="btn btn-outline-primary form-control rounded-0">
        </form>
    </div>
</div>