<div class="container mt-5">

    <h3 class="mb-30">S'inscrire</h3>
            <form #loginForm="ngForm" (ngSubmit)="signUp(loginForm)" class="mt-10">
                <div class="mt-10">
            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Username"
            class="single-input"
            >
</div>
<div class="mt-10">
            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Password"
            class="single-input"
            >
        </div>
        <div class="mt-10">

            <input type="text"
            ngModel
            name="userFirstName"
            id="userFirstName"
            placeholder="FirstName"
            class="single-input"
            >
        </div>
        <div class="mt-10">

            <input type="text"
            ngModel
            name="userLastName"
            id="userLastName"
            placeholder="LastName"
            class="single-input"
            >
            </div>
            <div class="mt-10">

            <input type="submit"
            value="Register"
            class="  form-control rounded-0 button button-contactForm boxed-btn"
            >
            </div>
        </form>
        
</div>