<div class="container mt-5">
    <h3 class="mb-30">Reset password</h3>
            <form #loginForm="ngForm" (ngSubmit)="onClickForgetPassword(loginForm)" class="mt-10">
                <div *ngIf="mailsent" class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Email sent!</h4>
                    <p>Aww yeah, you successfully reseted your password...</p>
                    <hr>
                    <p class="mb-0">An email has been sent please check it out and proced directly to the password change </p>
                  </div>
                <div class="mt-10">

            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Username"
            class="single-input"
            >
            </div>
            <div class="mt-10">


            <div class="mt-10">

            <input type="submit"
            value="reset password"
            class="form-control rounded-0 button button-contactForm boxed-btn">
            </div>

            </div>

        </form>

</div>