<div class="container mt-5">
    <h3 class="mb-30">Reset password</h3>
            <form #loginForm="ngForm" (ngSubmit)="onClickForgetPassword(loginForm)" class="mt-10">
                <div class="mt-10">

            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Username"
            class="single-input"
            >
            </div>
            <div class="mt-10">


            <div class="mt-10">

            <input type="submit"
            value="reset password"
            class="form-control rounded-0 button button-contactForm boxed-btn">
            </div>

            </div>
        </form>

</div>